<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @version.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @version.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @version.post %>
</p>

<p>
  <strong>Time:</strong>
  <%= @version.time %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
