%h1 New Post
= render 'validations', @post
= form_for(@post) do |f|
  = f.fields_for :versions do |vf|
    .field
      = vf.label :title
      = vf.text_field :title
    .field
      = vf.label :content
      = vf.text_area :content
  .actions
    = f.submit
= link_to 'Back', posts_path
